<!doctype html>

<html class="no-js" lang="es"> 
<head>
  <meta charset="utf-8">
  <title>Firstmakers Blockly</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="main.css">
  <!-- endbuild -->


 
</head>
<body ng-app="tideApp" ng-controller="AppController as controller" class="ng-cloak" ng-keydown="controller.onKeyDown($event)" ng-keyup="controller.onKeyUp($event)">
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!--
  <div id="browser_warning">
    <h3 class="text-muted">Su navegador no soporta algunas funciones modernas (HTML5 / SVG) que son necesarias para el funcionamiento de este visualizador.  Le sugerimos actualizarl el navegador o probar con uno diferente.</h3>
  </div>
  -->


  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#humandev-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#"><img src="./images/firstmakers_logo.jpg" alt="Firstmakers Blockly"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#" translate>BLOCKLY_VERSION</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div id="upload" file-input="controller.file" on-change="controller.openFile()" style="display: none;"></div>
          <a href="#" uploadfile><span translate>BUTTON_OPEN</span> <span class="glyphicon glyphicon-open" aria-hidden="true"></span></a>
        </li>
        <li><a ng-click="controller.saveAsFile()" href="#"><span translate>BUTTON_SAVE</span> <span class="glyphicon glyphicon-save" aria-hidden="true"></span></a></li>        
        <li><a ng-click="controller.clearBlocks()" href="#"><span translate>BUTTON_CLEAR_BLOCKS</span> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></li>        
        <li ng-class="{'active': controller.selectedLanguage == 'es'}"><a ng-click="controller.changeLanguage('es')" href="#" translate="BUTTON_LANG_ES"></a></li>        
        <li ng-class="{'active': controller.selectedLanguage == 'en'}"><a ng-click="controller.changeLanguage('en')" href="#" translate="BUTTON_LANG_EN"></a></li>        
        
        <!--
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Español</a></li>
            <li><a href="#">English</a></li>
          </ul>
        </li>
        -->
      </ul>
    </div><!-- /.navbar-collapse -->








    </div>
  </nav>
  
  <!--

        -->

  <!-- Add your site or application content here -->
  <!-- container -->
  <div class="container" ng-cloak > 
    <div class="row">
      
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">

          <button ng-show="!controller.running" ng-click="controller.runCode()" type="button" class="btn btn-default text-right"><img src="./images/play.png" width="20"/> <span translate>CODE_RUN</span></button>
          <button ng-show="controller.running" ng-click="controller.stopCode()" type="button" class="btn btn-default"><img src="./images/stop.png" width="20"/> <span translate>CODE_STOP</span></button>

          <blockly options="controller.blocklyOptions" workspace="controller.workspace" on-injected="controller.onInjected"></blockly>

          <blockly3></blockly2>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3 class="text-muted small" translate>VIRTUAL_BOARD</h3>
        <p class="text-muted small" translate>VIRTUAL_BOARD_MSG</p>
        <div virtual-firstmakers state="controller.state" board="controller.virtualBoard"></div>
        <p class="text-muted small" translate>VIRTUAL_BOARD_MSG_2</p>
        <p><span class="label label-primary" translate>{{controller.statusMessageText}}</span></p>
        <p><span class="label label-default" ng-show="controller.boardState.connecting" >{{controller.boardState.port}}</span></p>
        <p><span calss="text-muted small" ng-show="!controller.boardState.connected && !controller.boardState.connecting" translate>CONNECT_FIRSTMAKERS</span></p>
        <button ng-click="controller.scanPorts()" type="button" class="btn btn-default btn-small" ng-show="!controller.boardState.connected && !controller.boardState.connecting && false" translate>CONNECT</button>
        <button ng-click="controller.disconnectBoard()" type="button" class="btn btn-default"  ng-show="controller.boardState.connected && !controller.boardState.connecting && controller.platform == 'win32' && controller.arch == 'ia32'" translate>DISCONNECT</button>
      </div>
    </div>
    

     <div class="footer">
       <p>Firstmakers</p>
    </div>
    <button ng-click="controller.softReset()" type="button" class="btn btn-default" ><span translate>SOFT_RESET</span> <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>


  </div><!-- container -->

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="./bower_components/d3/d3.js"></script>
    <script src="./bower_components/underscore/underscore.js"></script>
    <script src="./bower_components/file-saver/FileSaver.min.js"></script>
    <script src="./bower_components/google-blockly/blockly_compressed.js"></script>
    <script src="./bower_components/google-blockly/blocks_compressed.js"></script>
    <script src="./bower_components/google-blockly/javascript_compressed.js"></script>
    <script2 src="./bower_components/google-blockly/msg/js/es.js"></script2>
    <script src="./bower_components/angular-translate/angular-translate.js"></script>
    <script src="./bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="./bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="./bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="./bower_components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
    <script src="./external_module_wrapper.js"></script>
    <script src="./acorn.js"></script>
    <script src="./interpreter.js"></script>

    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="app.js"></script>
    <script src="app.blocks.definitions.js"></script>
    <script src="controller.js"></script>
    <script src="services/blockly.service.js"></script>    
    <script src="services/board.service.js"></script>
    <script src="services/virtualBoard.service.js"></script>    
    <script src="services/device.service.js"></script>    
    <script src="services/deviceCommand.service.js"></script>    
    <script src="services/serial.service.js"></script>
    <script src="directives/blockly.js"></script>
    <script src="directives/virtualFirstmakers.js"></script>
    <script src="directives/uploadfile.js"></script>
    <script src="directives/customOnChange.js"></script>
    <!-- endbuild -->
    


  </body>
  </html>

